<!DOCTYPE html>
<html ng-app="bookclubfiction">
  <head>
    <title>Bookclubfiction</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag \
    '//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js',
    '//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js',
    'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <p><%= link_to 'Logout', logout_path, :method => :delete %></p>
      <dl>
        <dt>Name</dt>
        <dd><%= current_user.name %></dd>
        <dt>UserName</dt>
        <dd><%= current_user.username %></dd>
        <dt>Website</dt>
        <dd><%= current_user.website %></dd>
        <dt>Location</dt>
        <dd><%= current_user.location %></dd>
        <dt>Image</dt>
        <dd><%= user_image(current_user) %></dd>
        <dt>About</dt>
        <dd><%= current_user.about %></dd>
      </dl>
    <% else %>
      <p><%= link_to 'Login', user_omniauth_authorize_url(:provider => :goodreads) %></p>
    <% end %>

    <div ng-view>
      <%= yield %>
    </div>
  </body>
</html>
