<!DOCTYPE html>
<html>
  <head>
    <title>Book Club Fiction</title>
    <%= stylesheet_link_tag \
       "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css",
       "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css",
       "//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700|Open+Sans+Condensed:700|Cutive+Mono",
       "application", media: "all" %>
    <%= javascript_include_tag \
      "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js",
      "//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js",
      "//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js",
      "//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js",
      "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js",
      "//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js",
      "//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js",
      "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js",
      "/faye/client.js",
      "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="BookClubFiction">
    <div class="bcf-head group">
      <div class="container-fluid">
        <h1><a ng-href="/{{ round.current.state }}">Book Club Fiction</a></h1>

        <div id="user" ng-controller="UserController">
          <nav>
            <ul ng-show="status.logged_in()">
              <li class="user"><img ng-src="{{ status.user.image }}" class="profile-img"> Hello, {{ status.user.name }}!</li>
              <li class="votes">Extra Votes: {{ status.user.extra_votes }}</li>
              <li ng-show="round.current"><a ng-href="/{{ round.current.state }}">View Current Round</a></li>
              <li ng-show="status.user.admin"><a href="/admin">Admin</a></li>
              <li ng-show="status.user.admin"><a href="/admin/votes">Extra Votes</a></li>
              <li class="logout"><a href="/logout" target="_self" class="btn btn-default">Logout</a></li>
            </ul>
            <ul ng-hide="status.logged_in()">
              <li class="login"><a href="/users/auth/goodreads" class="btn btn-primary" target="_self">Login with GoodReads</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "danger" : "success" %>">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>

      <div ng-view>
        <%= yield %>
      </div>

      <footer id="footer" class="group">
        <nav>
          <ul>
            <li><a href="https://www.goodreads.com/group/show/88207-bookclubfiction#">Book Club Fiction on Goodreads</a></li>
            <li><a href="https://www.goodreads.com/group/moderators/88207-bookclubfiction">Contact Us</a></li>
            <li class="bug"><a href="https://github.com/kelsin/bookclubfiction/issues"><span class="fa fa-bug"></span>Found a bug? Let us know</a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
